.gameviewer {
  clear: both;
  position: relative;
  left: 0px;
  top: 0px;
  width: 720px;
  height: 450px;
  border: 1px solid black;
  background: #eecd7a; }
  .gameviewer * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none; }
  .gameviewer a {
    color: blue; }
  .gameviewer .toggle-opacity img {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    -moz-opacity: 0.7; }
  .gameviewer .toggle-opacity:hover img {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1; }
  .gameviewer .button {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 1px 0px;
    white-space: nowrap;
    z-index: 99; }
    .gameviewer .button a {
      display: inline;
      border-top: 1px solid #eeeeee;
      border-left: 1px solid #eeeeee;
      border-right: 1px solid #606060;
      border-bottom: 1px solid #101010;
      color: blue;
      background: #ddbc69;
      text-decoration: none;
      padding: 2px 4px 1px 4px;
      text-align: center; }
      .gameviewer .button a:hover {
        border-top: 1px solid black;
        border-left: 1px solid #666666;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        color: white;
        background: #47748e fixed; }
      .gameviewer .button a:active {
        color: white;
        background: #47748e; }
  .gameviewer .control-text {
    font-size: larger;
    font-weight: bold;
    vertical-align: middle; }
  .gameviewer .banner {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 468px;
    height: 25px; }
  .gameviewer .banner-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%; }
  .gameviewer .banner-left {
    display: inline;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 1px 0px;
    z-index: 100; }
  .gameviewer img.next-player {
    position: relative;
    top: 2px; }
  .gameviewer img.prisoners {
    position: relative;
    top: 2px; }
  .gameviewer .resign {
    display: none;
    position: absolute;
    top: -1px;
    z-index: 200; }
  .gameviewer .resign {
    left: 255px; }
  .gameviewer .move-number-outer {
    position: absolute;
    left: 22px;
    top: 0px;
    width: 399px;
    text-align: center; }
  .gameviewer .prisoners-outer {
    position: absolute;
    left: 270px;
    width: 176px; }
    .gameviewer .prisoners-outer .black {
      position: absolute;
      top: 0;
      width: 50%;
      text-align: center; }
    .gameviewer .prisoners-outer .white {
      position: absolute;
      left: 50%;
      top: 0;
      width: 50%;
      text-align: center; }
  .gameviewer .open-window-outer {
    position: absolute;
    left: 450px;
    top: 0; }
  .gameviewer .board-fascade {
    z-index: 99; }
  .gameviewer .board-outer {
    position: absolute;
    left: 1px;
    top: 28px; }
  .gameviewer .board {
    position: absolute;
    left: 22px;
    top: 2px;
    width: 399px;
    height: 399px; }
  .gameviewer .boardvlabel {
    position: absolute;
    left: 0px;
    top: 82px;
    width: 22px;
    height: 361px;
    background-image: url(images/19/vlabel.gif); }
  .gameviewer .boardhlabel {
    position: absolute;
    left: 98px;
    top: 518px;
    width: 361px;
    height: 17px;
    background-image: url(images/19/hlabel.gif); }
  .gameviewer .board-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%; }
  .gameviewer .branch {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    color: blue;
    font-weight: bolder;
    background-color: #eecd7a; }
  .gameviewer .branch-real {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    color: blue;
    font-weight: bolder;
    background-color: #ccab69; }
  .gameviewer .toolbar {
    position: absolute;
    left: 432px;
    top: 28px;
    width: 35px;
    height: 414px; }
  .gameviewer .tb-item {
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1; }
  .gameviewer .tb-branches {
    position: relative;
    width: 100%;
    height: 0px;
    overflow: hidden;
    margin: 0px; }
  .gameviewer .tb-branch {
    position: relative;
    left: 20%;
    width: 80%;
    height: 20px;
    margin: 1px;
    font-weight: bolder; }
  .gameviewer .point-label {
    position: absolute;
    left: 425px;
    top: 430px;
    width: 40px;
    height: 15px;
    text-align: center;
    font-weight: bolder;
    color: #3399cc; }
  .gameviewer .right-pane {
    position: absolute;
    left: 472px;
    top: 1px;
    width: 245px;
    height: 446px;
    border: 1px solid gray;
    background: white; }
  .gameviewer .info {
    margin: 3px; }
  .gameviewer .comment {
    margin: 8px 1px 3px;
    overflow: auto; }

.sprite-15-black {
  width: 15px;
  height: 15px;
  background: url(images/sprites.gif) 0 -5px; }

.sprite-15-black_dead {
  width: 15px;
  height: 15px;
  background: url(images/sprites.gif) 0 -30px; }

.sprite-15-white {
  width: 15px;
  height: 15px;
  background: url(images/sprites.gif) 0 -55px; }

.sprite-15-white_dead {
  width: 15px;
  height: 15px;
  background: url(images/sprites.gif) 0 -80px; }

.sprite-19-black {
  width: 19px;
  height: 19px;
  background: url(images/sprites.gif) 0 -105px; }

.sprite-19-black_dead {
  width: 19px;
  height: 19px;
  background: url(images/sprites.gif) 0 -134px; }

.sprite-19-blankboarddq {
  width: 475px;
  height: 475px;
  background: url(images/sprites.gif) 0 -163px; }

.sprite-19-boarddq {
  width: 513px;
  height: 513px;
  background: url(images/sprites.gif) 0 -648px; }

.sprite-19-hlabel {
  width: 722px;
  height: 17px;
  background: url(images/sprites.gif) 0 -1171px; }

.sprite-19-markblack {
  width: 19px;
  height: 19px;
  background: url(images/sprites.gif) 0 -1198px; }

.sprite-19-markcircle {
  width: 19px;
  height: 19px;
  background: url(images/sprites.gif) 0 -1227px; }

.sprite-19-markcross {
  width: 19px;
  height: 19px;
  background: url(images/sprites.gif) 0 -1256px; }

.sprite-19-markmove {
  width: 19px;
  height: 19px;
  background: url(images/sprites.gif) 0 -1285px; }

.sprite-19-marksquare {
  width: 19px;
  height: 19px;
  background: url(images/sprites.gif) 0 -1314px; }

.sprite-19-marktriangle {
  width: 19px;
  height: 19px;
  background: url(images/sprites.gif) 0 -1343px; }

.sprite-19-markwhite {
  width: 19px;
  height: 19px;
  background: url(images/sprites.gif) 0 -1372px; }

.sprite-19-vlabel {
  width: 20px;
  height: 722px;
  background: url(images/sprites.gif) 0 -1401px; }

.sprite-19-white {
  width: 19px;
  height: 19px;
  background: url(images/sprites.gif) 0 -2133px; }

.sprite-19-white_dead {
  width: 19px;
  height: 19px;
  background: url(images/sprites.gif) 0 -2162px; }

.sprite-21-black {
  width: 21px;
  height: 21px;
  background: url(images/sprites.gif) 0 -2191px; }

.sprite-21-black_dead {
  width: 21px;
  height: 21px;
  background: url(images/sprites.gif) 0 -2222px; }

.sprite-21-blankboard {
  width: 399px;
  height: 399px;
  background: url(images/sprites.gif) 0 -2253px; }

.sprite-21-board {
  width: 425px;
  height: 420px;
  background: url(images/sprites.gif) 0 -2662px; }

.sprite-21-markblack {
  width: 21px;
  height: 21px;
  background: url(images/sprites.gif) 0 -3092px; }

.sprite-21-markcircle {
  width: 21px;
  height: 21px;
  background: url(images/sprites.gif) 0 -3123px; }

.sprite-21-markcross {
  width: 21px;
  height: 21px;
  background: url(images/sprites.gif) 0 -3154px; }

.sprite-21-markmove {
  width: 21px;
  height: 21px;
  background: url(images/sprites.gif) 0 -3185px; }

.sprite-21-marksquare {
  width: 21px;
  height: 21px;
  background: url(images/sprites.gif) 0 -3216px; }

.sprite-21-marktriangle {
  width: 21px;
  height: 21px;
  background: url(images/sprites.gif) 0 -3247px; }

.sprite-21-markwhite {
  width: 21px;
  height: 21px;
  background: url(images/sprites.gif) 0 -3278px; }

.sprite-21-white {
  width: 21px;
  height: 21px;
  background: url(images/sprites.gif) 0 -3309px; }

.sprite-21-white_dead {
  width: 21px;
  height: 21px;
  background: url(images/sprites.gif) 0 -3340px; }

.sprite-back {
  width: 31px;
  height: 31px;
  background: url(images/sprites.gif) 0 -3371px; }

.sprite-backall {
  width: 31px;
  height: 31px;
  background: url(images/sprites.gif) 0 -3412px; }

.sprite-backc {
  width: 31px;
  height: 31px;
  background: url(images/sprites.gif) 0 -3453px; }

.sprite-backn {
  width: 31px;
  height: 31px;
  background: url(images/sprites.gif) 0 -3494px; }

.sprite-default {
  width: 1px;
  height: 1px;
  background: url(images/sprites.gif) 0 -3535px; }

.sprite-forward {
  width: 31px;
  height: 31px;
  background: url(images/sprites.gif) 0 -3546px; }

.sprite-forwardall {
  width: 31px;
  height: 31px;
  background: url(images/sprites.gif) 0 -3587px; }

.sprite-forwardc {
  width: 31px;
  height: 31px;
  background: url(images/sprites.gif) 0 -3628px; }

.sprite-forwardn {
  width: 31px;
  height: 31px;
  background: url(images/sprites.gif) 0 -3669px; }

.sprite-hidenumber {
  width: 31px;
  height: 31px;
  background: url(images/sprites.gif) 0 -3710px; }

.sprite-newwindow {
  width: 16px;
  height: 16px;
  background: url(images/sprites.gif) 0 -3751px; }

.sprite-refresh {
  width: 31px;
  height: 31px;
  background: url(images/sprites.gif) 0 -3777px; }

.sprite-shownumber {
  width: 31px;
  height: 31px;
  background: url(images/sprites.gif) 0 -3818px; }
