.gvreset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

a.gvreset {
  color: blue; }

.toggleopacity img {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  -moz-opacity: 0.7; }
.toggleopacity:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity: 1; }

.gvbutton {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 1px 0px;
  white-space: nowrap;
  z-index: 99; }
  .gvbutton a {
    display: inline;
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #606060;
    border-bottom: 1px solid #101010;
    color: blue;
    background: #ddbc69;
    text-decoration: none;
    padding: 2px 4px 1px 4px;
    text-align: center; }
    .gvbutton a:hover {
      border-top: 1px solid black;
      border-left: 1px solid #666666;
      border-right: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      color: white;
      background: #47748e fixed; }
    .gvbutton a:active {
      color: white;
      background: #47748e; }

.gvcontrol-text {
  font-size: larger;
  font-weight: bold;
  vertical-align: middle; }

.gameviewer {
  clear: both;
  position: relative;
  left: 0px;
  top: 0px;
  width: 720px;
  height: 450px;
  border: 1px solid black;
  background: #eecd7a; }

.gameviewerdq {
  position: relative;
  left: 0px;
  top: 0px;
  width: 834px;
  height: 564px;
  border: 1px solid black;
  background: #eecd7a; }

.gvbanner {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 468px;
  height: 25px; }

.gvbannerdq {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 582px;
  height: 25px; }

.gvbanner-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%; }

.gvbanner-left {
  display: inline;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 1px 0px;
  z-index: 100; }

.nextPlayerImg {
  position: relative;
  top: 2px; }

.prisonersImg {
  position: relative;
  top: 2px; }

.gvresign, .gvresigndq {
  display: none;
  position: absolute;
  top: -1px;
  z-index: 200; }

.gvresign {
  left: 255px; }

.gvresigndq {
  left: 310px; }

.gvmove-outer {
  position: absolute;
  left: 22px;
  top: 0px;
  width: 399px;
  text-align: center; }

.gvmove-outerdq {
  position: absolute;
  left: 22px;
  top: 0px;
  width: 513px;
  text-align: center; }

.gvprisoners-outer {
  position: absolute;
  left: 270px;
  top: -2px;
  width: 176px; }

.gvblack-prisoners-outer {
  position: absolute;
  top: 0;
  width: 50%;
  text-align: right; }

.gvwhite-prisoners-outer {
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  text-align: right; }

.gvopen-window-outer {
  position: absolute;
  left: 450px;
  top: 0; }

.gvprisoners-outerdq {
  position: absolute;
  left: 319px;
  top: 0px;
  width: 239px; }

.gvblack-prisoners-outerdq {
  position: absolute;
  top: 0;
  width: 50%;
  text-align: right; }

.gvwhite-prisoners-outerdq {
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  text-align: right; }

.gvopen-window-outerdq {
  position: absolute;
  left: 530px;
  top: 0; }

.gvboard-fascade {
  z-index: 99; }

.gvboard-outer {
  position: absolute;
  left: 1px;
  top: 28px; }

.gvboard-outerdq {
  position: absolute;
  left: 1px;
  top: 28px;
  width: 539px;
  height: 536px;
  z-index: 2; }

.gvboard {
  position: absolute;
  left: 22px;
  top: 2px;
  width: 399px;
  height: 399px; }

.gvboard-realdq {
  position: absolute;
  left: 99px;
  top: 106px;
  width: 361px;
  height: 361px;
  background: #ccab69;
  z-index: 1; }

.gvboarddq {
  position: absolute;
  left: 22px;
  top: 2px; }

.gvboardvlabel {
  position: absolute;
  left: 0px;
  top: 82px;
  width: 22px;
  height: 361px;
  background-image: url(/jsgameviewer/view/images/19/vlabel.gif); }

.gvboardhlabel {
  position: absolute;
  left: 98px;
  top: 518px;
  width: 361px;
  height: 17px;
  background-image: url(/jsgameviewer/view/images/19/hlabel.gif); }

.gvboard-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%; }

.gvbranch {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  color: blue;
  font-weight: bolder;
  background-color: #eecd7a; }

.gvbranch-real {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  color: blue;
  font-weight: bolder;
  background-color: #ccab69; }

.gvtoolbar {
  position: absolute;
  left: 432px;
  top: 28px;
  width: 35px;
  height: 414px; }

.gvtoolbardq {
  position: absolute;
  left: 546px;
  top: 28px;
  width: 35px;
  height: 528px; }

.gvtb-item {
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1; }

.gvtb-branches {
  position: relative;
  width: 100%;
  height: 0px;
  overflow: hidden;
  margin: 0px; }

.gvtb-branch {
  position: relative;
  left: 20%;
  width: 80%;
  height: 20px;
  margin: 1px;
  font-weight: bolder; }

.gvpoint-label {
  position: absolute;
  left: 425px;
  top: 430px;
  width: 40px;
  height: 15px;
  font-weight: bolder;
  color: #3399cc; }

.gvpoint-labeldq {
  position: absolute;
  left: 539px;
  top: 544px;
  width: 40px;
  height: 15px;
  font-weight: bolder;
  color: #3399cc; }

.gvright-pane {
  position: absolute;
  left: 472px;
  top: 1px;
  width: 245px;
  height: 446px;
  border: 1px solid gray;
  background: white; }

.gvright-panedq {
  position: absolute;
  left: 586px;
  top: 1px;
  width: 245px;
  height: 560px;
  border: 1px solid gray;
  background: white; }

.gvinfo {
  margin: 3px; }

.gvcomment {
  margin: 8px 1px 3px;
  overflow: auto; }

#TB_window {
  font: 12px Arial, Helvetica, sans-serif;
  color: #333333; }

#TB_secondLine {
  font: 10px Arial, Helvetica, sans-serif;
  color: #666666; }

#TB_window a:link, #TB_window a:visited {
  color: #666666; }
#TB_window a:hover {
  color: black; }
#TB_window a:active, #TB_window a:focus {
  color: #666666; }

#TB_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%; }

.TB_overlayMacFFBGHack {
  background: url(macFFBgHack.png) repeat; }

.TB_overlayBG {
  background-color: black;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75; }

* html #TB_overlay {
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'); }

#TB_window {
  position: fixed;
  background: white;
  z-index: 102;
  color: black;
  display: none;
  border: 4px solid #525252;
  text-align: left;
  top: 50%;
  left: 50%; }

* html #TB_window {
  position: absolute;
  margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); }

#TB_window img#TB_Image {
  display: block;
  margin: 15px 0 0 15px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666; }

#TB_caption {
  height: 25px;
  padding: 7px 30px 10px 25px;
  float: left; }

#TB_closeWindow {
  height: 25px;
  padding: 11px 25px 10px 0;
  float: right; }

#TB_closeAjaxWindow {
  padding: 7px 10px 5px 0;
  margin-bottom: 1px;
  text-align: right;
  float: right; }

#TB_ajaxWindowTitle {
  float: left;
  padding: 7px 0 5px 10px;
  margin-bottom: 1px; }

#TB_title {
  background-color: #e8e8e8;
  height: 27px; }

#TB_ajaxContent {
  clear: both;
  padding: 2px 15px 15px 15px;
  overflow: auto;
  text-align: left;
  line-height: 1.4em; }
  #TB_ajaxContent.TB_modal {
    padding: 15px; }
  #TB_ajaxContent p {
    padding: 5px 0px 5px 0px; }

#TB_load {
  position: fixed;
  display: none;
  height: 13px;
  width: 208px;
  z-index: 103;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -104px; }

* html #TB_load {
  position: absolute;
  margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); }

#TB_HideSelect {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border: none;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  height: 100%;
  width: 100%; }

* html #TB_HideSelect {
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'); }

#TB_iframeContent {
  clear: both;
  border: none;
  margin-bottom: -1px;
  margin-top: 1px;
  _margin-bottom: 1px; }

.gvsprite-15-black {
  width: 15px;
  height: 15px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -5px; }

.gvsprite-15-black_dead {
  width: 15px;
  height: 15px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -30px; }

.gvsprite-15-white {
  width: 15px;
  height: 15px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -55px; }

.gvsprite-15-white_dead {
  width: 15px;
  height: 15px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -80px; }

.gvsprite-19-black {
  width: 19px;
  height: 19px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -105px; }

.gvsprite-19-black_dead {
  width: 19px;
  height: 19px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -134px; }

.gvsprite-19-blankboarddq {
  width: 475px;
  height: 475px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -163px; }

.gvsprite-19-boarddq {
  width: 513px;
  height: 513px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -648px; }

.gvsprite-19-hlabel {
  width: 722px;
  height: 17px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1171px; }

.gvsprite-19-markblack {
  width: 19px;
  height: 19px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1198px; }

.gvsprite-19-markcircle {
  width: 19px;
  height: 19px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1227px; }

.gvsprite-19-markcross {
  width: 19px;
  height: 19px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1256px; }

.gvsprite-19-markmove {
  width: 19px;
  height: 19px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1285px; }

.gvsprite-19-marksquare {
  width: 19px;
  height: 19px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1314px; }

.gvsprite-19-marktriangle {
  width: 19px;
  height: 19px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1343px; }

.gvsprite-19-markwhite {
  width: 19px;
  height: 19px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1372px; }

.gvsprite-19-vlabel {
  width: 20px;
  height: 722px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -1401px; }

.gvsprite-19-white {
  width: 19px;
  height: 19px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -2133px; }

.gvsprite-19-white_dead {
  width: 19px;
  height: 19px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -2162px; }

.gvsprite-21-black {
  width: 21px;
  height: 21px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -2191px; }

.gvsprite-21-black_dead {
  width: 21px;
  height: 21px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -2222px; }

.gvsprite-21-blankboard {
  width: 399px;
  height: 399px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -2253px; }

.gvsprite-21-board {
  width: 425px;
  height: 420px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -2662px; }

.gvsprite-21-markblack {
  width: 21px;
  height: 21px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3092px; }

.gvsprite-21-markcircle {
  width: 21px;
  height: 21px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3123px; }

.gvsprite-21-markcross {
  width: 21px;
  height: 21px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3154px; }

.gvsprite-21-markmove {
  width: 21px;
  height: 21px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3185px; }

.gvsprite-21-marksquare {
  width: 21px;
  height: 21px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3216px; }

.gvsprite-21-marktriangle {
  width: 21px;
  height: 21px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3247px; }

.gvsprite-21-markwhite {
  width: 21px;
  height: 21px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3278px; }

.gvsprite-21-white {
  width: 21px;
  height: 21px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3309px; }

.gvsprite-21-white_dead {
  width: 21px;
  height: 21px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3340px; }

.gvsprite-back {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3371px; }

.gvsprite-backall {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3412px; }

.gvsprite-backc {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3453px; }

.gvsprite-backn {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3494px; }

.gvsprite-default {
  width: 1px;
  height: 1px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3535px; }

.gvsprite-forward {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3546px; }

.gvsprite-forwardall {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3587px; }

.gvsprite-forwardc {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3628px; }

.gvsprite-forwardn {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3669px; }

.gvsprite-hidenumber {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3710px; }

.gvsprite-newwindow {
  width: 16px;
  height: 16px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3751px; }

.gvsprite-refresh {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3777px; }

.gvsprite-shownumber {
  width: 31px;
  height: 31px;
  background: url(/jsgameviewer/view/images/sprites.gif) 0 -3818px; }
